# PUBLIC ENCRYPTION KEY
DOTENV_PUBLIC_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# ENVIRONMENT MODE (can be production/development/local)
MODE=local

# EVM CHAIN ID (for Ethereum Mainnet use 1, for others see https://chainlist.org/)
EVM_CHAIN_ID=1

# CACHE MANAGER CONNECTION URL (supported only DragonFly, Redis)
CM_CONNECTION_URL=redis://:<password>@<ip>:<port>

# SCYLLA OPTIONS
SCYLLA_DB_HOST=0.0.0.0
SCYLLA_DB_PORT=9042
SCYLLA_DB_LOCAL_DATACENTER=XXXXXXXXXX
SCYLLA_DB_USERNAME=cassandra
SCYLLA_DB_PASSWORD=cassandra

# LOGS OPTIONS
LOGS_GRAYLOG_HOST=XXX.XXX.XXX.XXX
LOGS_GRAYLOG_PORT=XXXXX
LOGS_GRAYLOG_APP=indexer